.confirmLogout{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

.confirmLogout .content{
    color: black;
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #fff0f5;    height: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    gap: 15px;
}

.confirmLogout button{
    background-color: #1d1f21;
    color: white;
    padding: 7px;
}

