.passwordless {
  height: 100vh;
}

.passwordless .passwordless_enabled_page_one {
  color: black;
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #fff0f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.passwordless .passwordless_enabled_page_two {
  color: black;
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #fff0f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.passwordless .passwordless_enabled_page_three {
  color: black;
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #fff0f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.passwordless input {
  width: 300px;
  height: 35px;
  padding: 15px;
  outline: none;
  border: 1px solid grey;
}

.passwordless button {
    background-color: #1d1f21;
    color: white;
    padding: 7px;
    font-size: 1.2rem;
    width: 300px;
  }

.passwordless .error{
    background-color: red;
    color: white;
    height: 35px;
    width: 300px;
}