.resetPassword{
    height: 90vh;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resetPassword input, .resetPassword button{
    height: 35px;
    width: 300px;
}