.fancy {
    background-color: pink;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    flex-grow: 1;
  }

  .fancy div{
    display: flex;
  }
  
  .fancy input {
    border: 1px solid black;
    padding: 10px;
    letter-spacing: 0.2rem;
    flex-grow: 1;
    width: 100%;
    height: 5px;
  }


  .fancy button{
    height: 5px;
  }