.right {
    background-color: pink;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    flex-grow: 1;

  }

  .right .container{
    display: flex;
    gap: 5px;
  }

  .right .container .left-box{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .right .container .right-box{
    flex-grow: 1;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
  }

.right textarea{
    width: 100%;
    height: 100%;
}
  
  
  .right input{
    height: 5px;
    border: 1px solid black;
    padding: 10px;
    letter-spacing: 0.2rem;
  }

  .right button{
    height: 5px;
  }